.InboxDiv{
    width: 20%;
    float: left;
    height: 90vh;
}

.formDiv{
    float: left;
    width: 80%;
}

.inputFields{
    width: 25%;
    float: left;
}

.generalBlock{
    height: 150px;
}

@media (min-width: 600px) {
    .ContactData {
        width: 500px;
    }
}